<!-- Header -->
<div class="relative md:pt-32 pb-6 pt-6" style="background-color: #eb6d51">
  <div class="px-4 md:px-10 mx-auto w-full">
    <div>
      <!-- Card stats -->
     <div class="flex mt-1 mx-4 px-12">
            <div style="border: 1px solid #FFAD55;border-radius: 15px; height: 120px; background-color: white;" class="mx-4 lg:w-3/12 md:w-4/12 sm:w-6/12 hover:shadow-lg">
                <h1 class="text-right mt-2 mr-4 text-2xl font-bold">Recruiters
                     <h1 class="text-right  font-normal text-xl ">100K</h1>
                </h1>

              <i class="fa fa-building text-dark text-5xl mx-4" style="background-color: transparent;border-radius: 50px;"></i>
              </div>
        <div style="border: 1px solid white;border-radius: 15px;height: 120px;background-color: white" class="mx-4 lg:w-3/12 md:w-4/12 sm:w-6/12 bg-white hover:shadow-lg">
                 <h1 class="text-right mt-2 mr-4 text-2xl font-bold">Personal
                     <h1 class="text-right  font-normal text-xl ">100K</h1>
                </h1>
              <i class="fa fa-user text-dark text-5xl mx-4" style="background-color: transparent;border-radius: 50px;"></i>

            </div>
        <div style="border: 1px solid white;border-radius: 15px; height: 120px;background-color: white" class="mx-4 lg:w-3/12 md:w-4/12 sm:w-6/12 bg-white hover:shadow-lg">
                  <h1 class="text-right mt-2 mr-4 text-2xl font-bold">Jobs
                     <h1 class="text-right font-normal  text-xl ">100K</h1>
                </h1>
              <i class="fa fa-briefcase text-dark text-5xl mx-4" style="background-color: transparent;border-radius: 50px;"></i>

            </div>
        <div style="border: 1px solid white;border-radius: 15px; height: 120px;background-color: white" class="mx-4 lg:w-3/12 md:w-4/12 sm:w-6/12 bg-white hover:shadow-lg">
                  <h1 class="text-right mt-2 mr-4 text-2xl font-bold">Feedback
                     <h1 class="text-right font-normal  text-xl ">100K</h1>
                </h1>
              <i class="fa fa-comment-alt text-dark text-5xl mx-4" style="background-color: transparent;border-radius: 50px; "></i>

            </div>
      </div>

    </div>
  </div>
</div>



