<app-user-navbar></app-user-navbar>
<main class="profile-page">
  <div class="relative block" style="
            background-image: url('assets/img/Orange_ban.png');
             background-repeat: no-repeat;
             height: 500px;
            background-position: right;
             background-size: contain">

  </div>
   <div class="flex flex-wrap" style="margin-top: -300px">

              &nbsp;&nbsp;<div style="background-position: left" class="container px-12 mx-4">
                  <h1 class="text-grey text-5xl px-12 mx-4 font-bold">MYWORLD Profile</h1>
                  <div class="px-12 mx-4 container mt-2" style="margin-left: 65px;border: 3px solid #FF8856;background-color: #FF8856;border-radius: 25px;height: 15px; width: 30%"></div>
              </div>
              <div  style="margin-left: 1050px;margin-top: -90px;overflow: visible;background-position: right" class=" px-12 mx-4">
                <img style="background-position: right;background-color: white;border: 8px solid #FF8856;border-radius: 100%; overflow: visible;position: relative" width="200" height="200" src="assets/img/avatar.png" alt="">
              </div>
              <div style="margin-left: 30px;background-position: left; margin-top: -60px" class="container px-12 mx-4">
                  <h1 style="color: #1b2b59;margin-left: 10px" class="text-3xl px-12 font-bold">Sadry Soudani</h1>
                <p class="text-md-start text-lg text-gray-500 font-semibold mt-3" style="margin-left: 60px; word-spacing: 5px">Digital Communication and Process Developer <br> Greater Ottawa Metropolitan Area</p>
              </div>


        <section style="height: auto;background-color: #2fa0f6;margin-left: 140px;background-position: left;margin-top: 60px; border-radius: 45px" class="container px-12 mx-4 mt-5 w-6/12">
            <div class="flex flex-wrap w-6/12">
                <div class="flex flex-wrap" style="background-position: left">
                   <h1 style="margin-left: -24px" class="text-white font-normal text-2xl mt-5"> About </h1>
                                     <i class="fa fa-pen text-white" style="background-position: right; margin-left: 650px;margin-top: -20px">...</i>

                </div>

            </div>
            <p class="text-white text-justify" style="margin-left: -24px">
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid corporis dolor doloremque doloribus harum id magni sit tempore temporibus velit. Cumque dicta, dolor eligendi maxime porro praesentium ratione similique sunt!</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid corporis dolor doloremque doloribus harum id magni sit tempore temporibus velit. Cumque dicta, dolor eligendi maxime porro praesentium ratione similique sunt!</span>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid corporis dolor doloremque doloribus harum id magni sit tempore temporibus velit. Cumque dicta, dolor eligendi maxime porro praesentium ratione similique sunt!</span>

            </p><br>
        </section>
        </div>
    <section class="flex flex-wrap mt-32 h-500-px">
          <h1 style="margin-left: 150px;color: #1b2b59" class="font-normal text-5xl"> Skills </h1>

          <app-skills-user></app-skills-user>
        </section>

  <section class="flex flex-wrap mt-48 h-500-px py-40">
          <h1 style="margin-left: 150px;color: #1b2b59" class="font-normal text-5xl"> Experiences </h1>
        <app-experience-user></app-experience-user>
        </section>
  <br><br><br><br><br><br> <br><br><br> <br><br> <br><br><br><br><br><br>
</main>
<app-footer></app-footer>
