<section class="section bg-white" id="resume">
            <div class="container px-12" style="margin-left: 100px">
                <div class="flex flex-row">
                    <div class="lg:w-6/12 m-15px-tb">
                        <div class="resume-box">
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-user-graduate"></i>
                                    </div>
                                    <span class="time">2019 - Present</span>
                                    <h5>Art Director - Facebook Inc</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-user-graduate"></i>
                                    </div>
                                    <span class="time">2019 - Present</span>
                                    <h5>Art Director - Facebook Inc</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-user-graduate"></i>
                                    </div>
                                    <span class="time">2019 - Present</span>
                                    <h5>Art Director - Facebook Inc</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div style="margin-left:50px" class="lg:w-6/12 m-15px-tb">
                        <div class="resume-box">
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-briefcase"></i>
                                    </div>
                                    <span class="time">2019 - Present</span>
                                    <h5>Art Director - Facebook Inc</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-briefcase"></i>
                                    </div>
                                    <span class="time">2019 - Present</span>
                                    <h5>Art Director - Facebook Inc</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-briefcase"></i>
                                    </div>
                                    <span class="time">2019 - Present</span>
                                    <h5>Art Director - Facebook Inc</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>


<!-- Fields  : Société , date , poste , Address , desc -->
