<br><br><br><br><br><br><div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-4/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words " style="margin-top: 85px;"
      >
      <img src="assets/img/Artboard 32.png" width = "30px" height="30px" (click) = "getBackToAuthenticate()"
            style="cursor: pointer;" class = "backToMWSL" title="BACK TO MY WORLD SPACE">
        <div class="rounded-t mb-0 px-6 py-6">

        <div style="margin-top: -152px;">

            <img src="assets/img/myworldjob_white.png" style="display: block;margin-left: auto; margin-right: auto" width="200" height="200" alt="MY_WORLD_JOB_LOGO"
            (click)="goToHomepage()">

        </div>
        </div>
        <style>
          .login-box .user-box input:focus {
            box-shadow: 0 0 3px white;
          }
        </style><br>
        <div class="flex-auto px-4 lg:px-10 w-6/12 py-10 pt-0"
             style="display: block; margin-right: auto;

        margin-left: auto">
          <div class="">
            <br><br>

          <form [formGroup]="formLogin" (ngSubmit)="login()" class="login-box mt-32">
                      <h1 style="letter-spacing: 5px" class="text-center text-white text-md font-semibold">LOGIN SPACE</h1>
            <br><br><br>
            <div class="user-box">
      <input type="text" name="email" required="" formControlName="email">
      <label style="color: #ffffff">EMAIL</label>
                   <span style="color: red; margin-top: 50px"
                    *ngIf = "formLogin.get('email').touched
            && formLogin.get('email').hasError('required')">REQUIRED FIELD*</span>
                    <span style="color: red; margin-top: 50px"
                    *ngIf = "formLogin.get('email').touched
            && formLogin.get('email').hasError('email')">INVALID EMAIL FORMAT</span>
    </div>
    <div class="user-box">
      <input type="password" name="password" required="" formControlName="password">
      <label style="color: #ffffff">PASSWORD</label>
      <span style="color: red; margin-top: 50px"
                    *ngIf = "formLogin.get('password').touched
            && formLogin.get('password').hasError('required')">REQUIRED FIELD*</span>
                    <span style="color: red; margin-top: 50px"
                    *ngIf = "formLogin.get('password').touched
            && formLogin.get('password').hasError('minlength')">AT LEAST 6 CHARACTERS</span>
    </div>

            <div align="center" style="margin-left: auto; margin-right: auto; display: block">
              <button
                [disabled]="formLogin.invalid"
                class=" text-white text-sm font-bold uppercase rounded outline-none focus:outline-none mr-1 mb-1 transition-all duration-150"
                type="submit" [ngStyle]="btnLoginStyle()"
              >

                <img align="center" style="margin-left: auto; margin-right: auto; display: block"
                src="assets/img/Artboard_31.png" width="60" height="60" title="LOGIN"/>

              </button>

            </div>
          </form>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
