<div class="container  mt-32" style="background-color: transparent">

  <input class="lg:w-3/12 mx-4 inputhover" type="text" placeholder="find your particular" style="height: 60px; border-radius: 5px;font-size: 16px">
  <br><br><br>
  <div class="flex flex-wrap">
    <table align="left"  class="table mat-table-sticky md:w-6/12 ">
      <thead>
      <th>User  <hr></th>
      <th>Name <hr></th>
      <th>Email <hr></th>
      <th>Country<hr></th>
      <th>City<hr></th>
      <th>Actions<hr></th>

      </thead>
      <br>
      <tr>
        <td>
          <div align="center">
            <img src="assets/img/avatar.png" height="50" width="50" alt="">
          </div>
        </td>

        <td>
          <div align="center">
            Mohamed Amine Laribi
          </div>
        </td>
        <td>
          <div align="center">
            mohamedamine.laribi1@esprit.tn
          </div>
        </td>
        <td>
          <div align="center">
            Tunisia
          </div>
        </td>
        <td>
          <div align="center">
            Tunis
          </div>
        </td>
        <td>
          <div align="center">
            <i class="fa fa-trash text-red-500 text-lg" title="move to trash"></i>
            <i class="fa fa-briefcase text-blueGray-500 px-2 text-lg"  title="show skills"></i>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div align="center">
            <img src="assets/img/avatar.png" height="50" width="50" alt="">
          </div>
        </td>

        <td>
          <div align="center">
            Mohamed Amine Laribi
          </div>
        </td>
        <td>
          <div align="center">
            mohamedamine.laribi1@esprit.tn
          </div>
        </td>
        <td>
          <div align="center">
            Tunisia
          </div>
        </td>
        <td>
          <div align="center">
            Tunis
          </div>
        </td>
        <td>
          <div align="center">
            <i class="fa fa-trash text-red-500 text-lg" title="move to trash"></i>
            <i class="fa fa-briefcase text-blueGray-500 px-2 text-lg"  title="show skills"></i>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div align="center">
            <img src="assets/img/avatar.png" height="50" width="50" alt="">
          </div>
        </td>

        <td>
          <div align="center">
            Mohamed Amine Laribi
          </div>
        </td>
        <td>
          <div align="center">
            mohamedamine.laribi1@esprit.tn
          </div>
        </td>
        <td>
          <div align="center">
            Tunisia
          </div>
        </td>
        <td>
          <div align="center">
            Tunis
          </div>
        </td>
        <td>
          <div align="center">
            <i class="fa fa-trash text-red-500 text-lg" title="move to trash"></i>
            <i class="fa fa-briefcase text-blueGray-500 px-2 text-lg"  title="show skills"></i>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div align="center">
            <img src="assets/img/avatar.png" height="50" width="50" alt="">
          </div>
        </td>

        <td>
          <div align="center">
            Mohamed Amine Laribi
          </div>
        </td>
        <td>
          <div align="center">
            mohamedamine.laribi1@esprit.tn
          </div>
        </td>
        <td>
          <div align="center">
            Tunisia
          </div>
        </td>
        <td>
          <div align="center">
            Tunis
          </div>
        </td>
        <td>
          <div align="center">
            <i class="fa fa-trash text-red-500 text-lg" title="move to trash"></i>
            <i class="fa fa-briefcase text-blueGray-500 px-2 text-lg"  title="show skills"></i>
          </div>
        </td>
      </tr>
    </table>

    <div class="px-12 mx-4 ml-3">
          <app-particular-skills></app-particular-skills>

    </div>
  </div>
</div>
