<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-4/12 px-4">

      <div
        class="relative flex flex-col min-w-0 break-words "
      >

        <div class="rounded-t mb-0 px-6 py-6">

        <div style="margin-top: -92px;">

            <img src="assets/img/myworldjob_white.png" style="display: block;margin-left: auto; margin-right: auto" width="200" height="200" alt="">

        </div>
        </div>
        <div class="flex-auto px-4 lg:px-10 w-6/12 py-10 pt-0" style="display: block; margin-right: auto;margin-left: auto">
          <div class="">
            <h1 style="letter-spacing: 5px;position: static;margin-right: auto; margin-left: auto" class="text-center text-white text-md font-semibold">REGISTER SPACE</h1>
            <br><br>
          </div>

          <div class="bs-stepper" style="margin-left: auto; margin-right: auto" align="center">
  <div class="bs-stepper-header" role="tablist" style="width: 50%">
    <!-- your steps here -->
    <div class="step" data-target="#logins-part" style="display: block;">
      <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
        <span class="bs-stepper-circle" style="background: linear-gradient(#FF8856,#FF6555); border:3px solid white"></span>
        <span class="bs-stepper-label text-white"></span>
      </button>
    </div>
    <div class="line"></div>
    <div class="step" data-target="#information-part">
      <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
        <span class="bs-stepper-circle" style="background: linear-gradient(#ffffff,#ffffff); border:3px solid white"></span>
        <span class="bs-stepper-label"></span>
      </button>
    </div>
    </div>


  <div class="bs-stepper-content">
    <!-- your steps content here -->
    <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger"></div>
    <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger"></div>

  </div>
</div>
            <h1 class="text-white text-center" style="letter-spacing: 5px">YOUR ROLE</h1>
        <div class="container mx-4 mt-3" align="center" style="display: inline-flex;width:100%;margin-left: auto;margin-right: auto;">
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
          <div class="w-6/12">
           <div class="text-center mt-12" style="position: absolute; display: block">
              <input
                type="radio"
                name="role"
                style="border: 3px solid  #000000;height: 25px;width:25px;background-color: transparent;border-radius: 100%;  padding-left:auto;padding-right: auto"
              /> <p class="mx-4 mt-3 text-white">BUSINESS</p>

            </div>
          </div>
          <div>
            <div  class="text-center mt-12" style="position: absolute; display: block">
              <input
                type="radio"
                name="role"
                class="text-black"
                style="border: 3px solid  #000000;height: 25px;width:25px;background-color: transparent;border-radius: 100%;  padding-left:auto;padding-right: auto"
              /> <p class="mx-4 mt-3 text-white">PARTICULAR</p>
            </div>
          </div>


        </div>

            <div class="mt-32" align="center" style="margin-left: auto; margin-right: auto; display: block">
              <button
                class=" text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                type="submit"
              >

                <img align="center" style="margin-left: auto; margin-right: auto; display: block" src="assets/img/Artboard_31.png" width="60" height="60"/>

              </button>

            </div>

        </div>

      </div>
    </div>
  </div>
</div>
