<br><br><br><br><br><br><br><br><br><br><div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-4/12 px-4">

      <div
        class="relative flex-col min-w-0 break-words "
      >
            <img src="assets/img/Artboard 32.png" width = "30px" height="30px" class = "getBack"
            *ngIf = "secondStepColorOne === '#FF8856' && thirdStepColorOne !== '#FF8856'" (click) = "getBack()" style="cursor: pointer;">
            <img src="assets/img/Artboard 32.png" width = "30px" height="30px" class = "getBackT"
            *ngIf = "thirdStepColorOne === '#FF8856'" (click) = "getBackThree()" style="cursor: pointer;">
            <img src="assets/img/Artboard 32.png" width = "30px" height="30px" *ngIf = "thirdStepColorOne !== '#FF8856' && secondStepColorOne !== '#FF8856'" (click) = "getBackToAuthenticate()"
            style="cursor: pointer;" class = "backToMWS" title="BACK TO MY WORLD SPACE">
        <div class="rounded-t mb-0 px-6 py-6">

        <div style="margin-top: -150px;">

            <img src="assets/img/myworldjob_white.png" style="display: block;margin-left: auto; margin-right: auto" width="200" height="200" alt="MY_WORLD_JOB_LOGO"
            (click)="goToHomepage()">

        </div>
        </div>
        <br>
        <div class="flex-auto px-4 lg:px-10 w-6/12 py-10 pt-0" style="display: block; margin-right: auto;margin-left: auto">
          <div class="">
            <h1 style="letter-spacing: 5px;position: static;margin-right: auto; margin-left: auto" class="text-center text-white text-md font-semibold">REGISTER SPACE</h1>
            <br><br>
          </div>
          <div align = "center">
            <loading *ngIf="isLoading">{{ isLoading }}</loading>
          </div>

          <div class="bs-stepper" [ngStyle]="applyStepStyles()" align="center">
  <div class="bs-stepper-header" role="tablist" style="width: 50%">
    <!-- your steps here -->
    <div class="step" data-target="#logins-part" style="display: block;">
      <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger"
      style="pointer-events: none;">
        <span class="bs-stepper-circle"
        style="background: linear-gradient(#FF8856,#FF6555); border:3px solid white; width: 22px; height: 22px;"></span>
        <span class="bs-stepper-label text-white"></span>
      </button>
    </div>
    <div class="line"></div>
    <div class="step" data-target="#information-part">
      <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger"
      style="pointer-events: none;">
        <span class="bs-stepper-circle" [ngStyle]="applyStyles()"></span>
        <span class="bs-stepper-label"></span>
      </button>
    </div>
    <div class="line" *ngIf = "role === 'Particular'"></div>
    <div class="step" data-target="#information-part" *ngIf = "role === 'Particular'">
      <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
        <span class="bs-stepper-circle" [ngStyle]="applyStylesThree()"></span>
        <span class="bs-stepper-label"></span>
      </button>
    </div>
    </div>


  <div class="bs-stepper-content">

    <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger"></div>
    <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger"></div>

  </div>
</div>
            <h1 class="text-white text-center" style="letter-spacing: 6px;font-weight: bold" *ngIf = "secondStepColorOne === '#ffffff'">YOUR ROLE</h1>
            <h1 class="text-white text-center" style="letter-spacing: 6px;font-weight: bold" *ngIf = "secondStepColorOne === '#FF8856' && role === 'Business'">BUSINESS ACCOUNT</h1>
            <h1 class="text-white text-center" style="letter-spacing: 6px;font-weight: bold" *ngIf = "secondStepColorOne === '#FF8856' && role === 'Particular' && thirdStepColorOne === '#ffffff'">PARTICULAR ACCOUNT</h1>
            <h1 class="text-white text-center" style="letter-spacing: 6px;font-weight: bold" *ngIf = "thirdStepColorOne === '#FF8856' && role === 'Particular'">CV CREATOR</h1>
            <form class="login-box mt-48" [formGroup] = "rb_form" (ngSubmit) = "registerB_Form()"
            *ngIf = "secondStepColorOne === '#FF8856' && role === 'Business'">
              <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
              <div align =  "center">
              <label class = "plusSign" title = "Upload logo enterprise">
                <i class = "fa fa-plus w-50 text-xl"></i>
              <!--<input type="file" class="plusFile" (change)="fileBEvent($event)" accept="image/png"
                     name="business_logo" formControlName="business_logo"/>-->

              <ngx-uploadcare-widget
  images-only="true" class="plusFile" tabs="file url facebook instagram"
  (on-change)="OnChangeUploadB($event)" preview-step="true" (on-upload-complete)="uploadCompleted($event)"
  public-key="3226601193ad7484e850" clearable="true" input-accept-types="image/png" [do-not-store]="doNotStore">
</ngx-uploadcare-widget>

              </label><br><br><br>
              <h5 class="text-white text-center" style="letter-spacing: 6px;font-weight: bold; opacity: 0.8;" *ngIf = "secondStepColorOne === '#FF8856' && role === 'Business'">BUSINESS LOGO</h5>
              <br>
                <img [src]="business_logo" style="width: 50px; height: 50px; border-radius: 15%" *ngIf="business_logo"/>
              </div>
              <style>
                .plusFile {
                  display: none;
                }
                .plusSign {
                  cursor: pointer;
                  padding: 28px 28px;
                  color: #FF6555;
                  background: #ffffff;
                  border-radius: 50%;
                }
              </style><br><br><br>
      <div class="container" style="display: inline-flex;width:100%; margin-bottom: 150px;">
                 <div class="w-6/12">
                  <div class="text-center user-box" style="position: absolute; display: block; margin-left: -200px;"
                  *ngIf = "secondStepColorOne !== '#ffffff'">
                    <input type="text" name="business_name" required="" style="width: 320px;" formControlName="business_name">
                    <label style="color: #ffffff">BUSINESS NAME</label><br>
                    <span style="color: red; margin-top: 50px"
                    *ngIf = "rb_form.get('business_name').touched
            && rb_form.get('business_name').hasError('required')">REQUIRED FIELD*</span>
                    <span style="color: red; margin-top: 50px"
                    *ngIf = "rb_form.get('business_name').touched
            && rb_form.get('business_name').hasError('minlength')">AT LEAST 3 CHARACTERS</span>
                   </div>
                 </div>
                 <div>
                   <div class="text-center user-box" style="position: absolute; display: block; margin-left: 50px;"
                   *ngIf = "secondStepColorOne !== '#ffffff'">
                    <input type="text" name="address" required="" style="width: 320px;" formControlName="address">
                    <label style="color: #ffffff">ADDRESS</label>
                     <span style="color: red; margin-top: 50px"
                    *ngIf = "rb_form.get('address').touched
            && rb_form.get('address').hasError('required')">REQUIRED FIELD*</span>
                    <span style="color: red; margin-top: 50px"
                    *ngIf = "rb_form.get('address').touched
            && rb_form.get('address').hasError('minlength')">AT LEAST 6 CHARACTERS</span>
                   </div>
                 </div>
               </div>


               <style>
                 .login-box .user-box .allCountries {
                  width: 319px;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box .citiesByCountry {
    width: 319px;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
               </style>

               <div class="container" style="display: inline-flex;width:100%;">
                <div class="w-6/12">
                 <div class="text-center user-box" style="position: absolute; display: block; margin-left: -200px; margin-top: -70px;"
                 *ngIf = "secondStepColorOne !== '#ffffff'">
                   <!--<input type="text" name="" required="" style="width: 320px;">-->
                   <select name="country" (change)="select_country($event.target.value)" style="cursor: pointer;"
                   formControlName="country" class = "allCountries">
                    <option disabled selected value></option>
                    <option *ngFor="let country of allCountries" class = "allCountries"
                    style="color: #fff; background-color: #FF8856;" [value]="country.iso2">{{country.name}}</option>

                  </select>
                  <label style="color: #ffffff" *ngIf = "selected === false">SELECT COUNTRY</label><br>
                   <span style="color: red; margin-top: 50px"
                    *ngIf = "rb_form.get('country').touched
            && rb_form.get('country').hasError('required')">REQUIRED FIELD*</span>
                  </div>
                </div>
                <div>
                  <div class="text-center user-box" style="position: absolute; display: block; margin-left: 50px; margin-top: -70px;"
                  *ngIf = "secondStepColorOne !== '#ffffff'">
                  <select name="city" (change)="select_city($event.target.value)" style="cursor: pointer;"
                  formControlName="city" class = "citiesByCountry" [hidden]="selectCityHiddenB">

                   <option *ngFor="let city of citiesToShow; let i = index" class = "allCities"
                   style="color: #fff; background-color: #FF8856;" [value]="city">{{city}}</option>

                 </select>
                    <input type="text" name="city" required="" style="width: 320px;" formControlName="city"
                           [hidden]="!selectCityHiddenB">
                    <label style="color: #ffffff" *ngIf = "citiesToShow.length === 0">SELECT CITY</label>
                    <label style="color: #ffffff" *ngIf = "finalSelectCountry === false && inputHidden === true">SELECT CITY</label>
                    <label style="color: #ffffff" *ngIf = "countrySelected && !citySelectedVal">SELECT CITY</label>
                    <label style="color: #ffffff" *ngIf = "inputHidden === false">SELECT CITY</label>
                    <br>
                    <span style="color: red; margin-top: 50px"
                    *ngIf = "rb_form.get('city').touched
            && rb_form.get('city').hasError('required')">REQUIRED FIELD*</span>
                  </div>
                </div>
              </div>

              <div class="container" style="display: inline-flex;width:100%;">
                <div class="w-6/12">
                 <div class="text-center user-box" style="position: absolute; display: block; margin-left: -200px; margin-top: 0px;"
                 *ngIf = "secondStepColorOne !== '#ffffff'">
                   <input type="text" name="email" required="" style="width: 320px;" formControlName="email">
                   <label style="color: #ffffff">EMAIL</label><br>
                   <span style="color: red; margin-top: 50px"
                    *ngIf = "rb_form.get('email').touched
            && rb_form.get('email').hasError('required')">REQUIRED FIELD*</span>
                    <span style="color: red; margin-top: 50px"
                    *ngIf = "rb_form.get('email').touched
            && rb_form.get('email').hasError('email')">INVALID EMAIL FORMAT</span>
                  </div>
                </div>
                <div>
                  <div class="text-center user-box" style="position: absolute; display: block; margin-left: 50px; margin-top: 0px;"
                  *ngIf = "secondStepColorOne !== '#ffffff'">
                   <input type="password" name="password" required="" style="width: 320px;" formControlName="password">
                   <label style="color: #ffffff">PASSWORD</label>
                    <span style="color: red; margin-top: 50px"
                    *ngIf = "rb_form.get('password').touched
            && rb_form.get('password').hasError('required')">REQUIRED FIELD*</span>
                    <span style="color: red; margin-top: 50px"
                    *ngIf = "rb_form.get('password').touched
            && rb_form.get('password').hasError('minlength')">AT LEAST 6 CHARACTERS</span>
                  </div>
                </div>
              </div>

              <div class="container" style="display: inline-flex;width:100%;">
                <div class="w-6/12">
                 <div class="text-center user-box" style="position: absolute; display: block; margin-left: -200px; margin-top: 70px;"
                 *ngIf = "secondStepColorOne !== '#ffffff'">
                   <input type="password" name="confirmPassword" required="" style="width: 320px;" formControlName="confirmPassword">
                   <label style="color: #ffffff">CONFIRM PASSWORD</label><br>
                   <span style="color: red; margin-top: 50px"
                    *ngIf = "rb_form.get('confirmPassword').touched
            && rb_form.get('confirmPassword').hasError('required')">REQUIRED FIELD*</span>
                    <span style="color: red; margin-top: 50px"
                    *ngIf = "rb_form.get('confirmPassword').touched
            && rb_form.get('confirmPassword').hasError('minlength')">AT LEAST 6 CHARACTERS</span>
                   <span style="color: red; margin-top: 50px" *ngIf = "rb_form.get('confirmPassword').touched
                && rb_form.get('confirmPassword').hasError('mustMatch')">
                      PASSWORDS DO NOT MATCH
                </span>
                  </div>
                </div>
                <div>
                  <style>
                    .login-box .user-box input.phoneNumber {
    width: 100%;
    padding: 10px 50px;
    font-size: 16px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  .login-box .user-box input.phoneNumber::-webkit-input-placeholder {
    color: #fff;
    opacity: 0.5;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
                  </style>
                  <div class="text-center user-box" style="position: absolute; display: block; margin-left: 50px; margin-top: 70px;"
                  *ngIf = "secondStepColorOne !== '#ffffff'">
                  <input type="text" formControlName="phonenumber" name="phonenumber" required="" style="width: 320px;color: #fff" ng2TelInput title="PHONE NUMBER"
                  class = "phoneNumber" [ng2TelInputOptions]="cell1TelInput" (hasError)="onError($event)"
                  (countryChange)="onCountryChange($event)" pattern="[0-9]+"/><br><br>
                  <span style="color: red; margin-top: 50px"
                    *ngIf = "rb_form.get('phonenumber').touched
            && rb_form.get('phonenumber').hasError('required')">REQUIRED FIELD*</span>
                    <span style="color: red; margin-top: 50px"
                    *ngIf = "rb_form.get('phonenumber').touched
            && rb_form.get('phonenumber').hasError('pattern')">ONLY NUMBERS ARE ACCEPTED</span>
                    <span style="color: red; margin-top: 50px"
                    *ngIf = "rb_form.get('phonenumber').touched
            && !hasErr && !rb_form.get('phonenumber').hasError('required')
            && !rb_form.get('phonenumber').hasError('pattern')">INVALID NUMBER</span>
                </div>
                </div>
              </div>

              <div class="container" style="display: inline-flex;width:100%;">
                <div class="w-6/12">
                 <div class="text-center user-box" style="position: absolute; display: block; margin-left: -200px; margin-top: 140px;"
                 *ngIf = "secondStepColorOne !== '#ffffff'">
                   <input type="text" name="" required="" name="business_website"
                          style="width: 320px;" formControlName = "business_website"
                          (ngModelChange)="followInputUrl(rb_form.get('business_website'))">
                   <label style="color: #ffffff">BUSINESS WEBSITE</label><br>
                   <span style="color: red; margin-top: 50px"
                    *ngIf = "rb_form.get('business_website').touched
            && rb_form.get('business_website').hasError('required')">REQUIRED FIELD*</span>
                   <span style="color: red; margin-top: 50px"
                    *ngIf = "rb_form.get('business_website').touched
            && rb_form.get('business_website').hasError('pattern')">INVALID FORMAT</span>
                   <span style="color: red; margin-top: 50px"
                   *ngIf = "!rb_form.get('business_website').hasError('required')
            && !rb_form.get('business_website').hasError('pattern') && isValidWebsite === false">{{validWebsite}}</span>
                  </div>
                </div>
                <div>
                  <div class="text-center user-box" style="position: absolute; display: block; margin-left: 50px; margin-top: 140px;"
                  *ngIf = "secondStepColorOne !== '#ffffff'">
                  <button
                [ngStyle]="btnCreateAccountStyle()"
                class=" text-white text-sm font-bold uppercase px-6 py-3 rounded  hover:shadow-lg outline-none focus:outline-none mr-1 mb-1  ease-linear transition-all duration-150"
                type="submit" [disabled]="rb_form.invalid || btnRegisterB === true"
              >
                <nobr>CREATE ACCOUNT</nobr>
              </button>
                  </div>
                </div>
              </div>

            </form>

            <form class="login-box mt-48" [formGroup] = "rp_form" (ngSubmit) = "confirmRegisterP()"
                  *ngIf = "secondStepColorOne === '#FF8856' && thirdStepColorOne === '#ffffff' && role === 'Particular'">
              <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
              <div align =  "center">
              <label class = "plusSign" title = "Upload your picture">
                <i class = "fa fa-plus w-50 text-xl"></i>
              <ngx-uploadcare-widget
  images-only="true" class="plusFile" tabs="file url facebook instagram"
  (on-change)="onChangeUploadP($event)" preview-step="true" (on-upload-complete)="uploadCompletedP($event)"
  public-key="3226601193ad7484e850" clearable="true" input-accept-types="image/png" [do-not-store]="doNotStoreP">
</ngx-uploadcare-widget></label><br><br><br>
              <h5 class="text-white text-center" style="letter-spacing: 6px;font-weight: bold; opacity: 0.8;" *ngIf = "secondStepColorOne === '#FF8856' && role === 'Particular'">PICTURE</h5>
              <br>
                <img [src]="userPicture" style="width: 50px; height: 50px; border-radius: 15%" *ngIf="userPicture"/>
              </div>
              <style>
                .plusFile {
                  display: none;
                }
                .plusSign {
                  cursor: pointer;
                  padding: 28px 28px;
                  color: #FF6555;
                  background: #ffffff;
                  border-radius: 50%;
                }
                .login-box .user-box .countriesParticular {
    width: 319px;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
                .login-box .user-box .citiesByCountryParticular {
    width: 319px;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
              </style><br><br><br>
      <div class="container" style="display: inline-flex;width:100%; margin-bottom: 150px;">
                 <div class="w-6/12">
                  <div class="text-center user-box" style="position: absolute; display: block; margin-left: -200px;"
                  *ngIf = "secondStepColorOne !== '#ffffff'">
                    <input type="text" name="firstname" required="" style="width: 320px;" formControlName="firstname">
                    <label style="color: #ffffff">FIRST NAME</label><br>
                    <span style="color: red; margin-top: 50px"
                    *ngIf = "rp_form.get('firstname').touched
            && rp_form.get('firstname').hasError('required')">REQUIRED FIELD*</span>
                    <span style="color: red; margin-top: 50px"
                    *ngIf = "rp_form.get('firstname').touched
            && rp_form.get('firstname').hasError('minlength')">AT LEAST 3 CHARACTERS</span>
                   </div>
                 </div>
                 <div>
                   <div class="text-center user-box" style="position: absolute; display: block; margin-left: 50px;"
                   *ngIf = "secondStepColorOne !== '#ffffff'">
                    <input type="text" name="lastname" required="" style="width: 320px;" formControlName="lastname">
                    <label style="color: #ffffff">LAST NAME</label><br>
                     <span style="color: red; margin-top: 50px"
                    *ngIf = "rp_form.get('lastname').touched
            && rp_form.get('lastname').hasError('required')">REQUIRED FIELD*</span>
                    <span style="color: red; margin-top: 50px"
                    *ngIf = "rp_form.get('lastname').touched
            && rp_form.get('lastname').hasError('minlength')">AT LEAST 3 CHARACTERS</span>
                   </div>
                 </div>
               </div>

               <div class="container" style="display: inline-flex;width:100%;">
                <div class="w-6/12">
                 <div class="text-center user-box" style="position: absolute; display: block; margin-left: -200px; margin-top: -70px;"
                 *ngIf = "secondStepColorOne !== '#ffffff'">
                   <select name="country" (change)="select_countryP($event.target.value)" style="cursor: pointer;"
                   formControlName="country" class = "countriesParticular">
                    <option disabled selected value></option>
                    <option *ngFor="let country of allCountriesP" class = "allCountries"
                    style="color: #fff; background-color: #FF8856;" [value]="country.iso2">{{country.name}}</option>

                  </select>
                  <label style="color: #ffffff" *ngIf = "selectedP === false">SELECT COUNTRY</label><br>
                   <span style="color: red; margin-top: 50px"
                    *ngIf = "rp_form.get('country').touched
            && rp_form.get('country').hasError('required')">REQUIRED FIELD*</span>

                  </div>
                </div>
                <div>
                  <div class="text-center user-box" style="position: absolute; display: block; margin-left: 50px; margin-top: -70px;"
                  *ngIf = "secondStepColorOne !== '#ffffff'">
                    <select name="city" (change)="select_cityP($event.target.value)" style="cursor: pointer;"
                  formControlName="city" class = "citiesByCountryParticular" [hidden]="selectCityHiddenP">

                   <option *ngFor="let city of citiesToShowP; let i = index" class = "allCities"
                   style="color: #fff; background-color: #FF8856;" [value]="city">{{city}}</option>

                 </select>
                    <input type="text" name="city" required="" style="width: 320px;" formControlName="city"
                           [hidden]="!selectCityHiddenP">
                    <label style="color: #ffffff" *ngIf = "citiesToShowP.length === 0">SELECT CITY</label>
                    <label style="color: #ffffff" *ngIf = "finalSelectCountryP === false && inputHiddenP === true">SELECT CITY</label>
                    <label style="color: #ffffff" *ngIf = "countrySelectedP && !citySelectedValP">SELECT CITY</label>
                    <label style="color: #ffffff" *ngIf = "inputHiddenP === false">SELECT CITY</label>
                    <br>
                    <span style="color: red; margin-top: 50px"
                    *ngIf = "rp_form.get('city').touched
            && rp_form.get('city').hasError('required')">REQUIRED FIELD*</span>
                  </div>
                </div>
              </div>

              <div class="container" style="display: inline-flex;width:100%;">
                <div class="w-6/12">
                 <div class="text-center user-box" style="position: absolute; display: block; margin-left: -200px; margin-top: 0px;"
                 *ngIf = "secondStepColorOne !== '#ffffff'">
                   <input type="email" name="email" required="" style="width: 320px;" formControlName="email">
                   <label style="color: #ffffff">EMAIL</label><br>
                   <span style="color: red; margin-top: 50px"
                    *ngIf = "rp_form.get('email').touched
            && rp_form.get('email').hasError('required')">REQUIRED FIELD*</span>
                    <span style="color: red; margin-top: 50px"
                    *ngIf = "rp_form.get('email').touched
            && rp_form.get('email').hasError('email')">INVALID EMAIL FORMAT</span>
                  </div>
                </div>
                <div>
                  <div class="text-center user-box" style="position: absolute; display: block; margin-left: 50px; margin-top: 0px;"
                  *ngIf = "secondStepColorOne !== '#ffffff'">
                   <input type="password" name="password" required="" style="width: 320px;" formControlName="password">
                   <label style="color: #ffffff">PASSWORD</label>
                    <span style="color: red; margin-top: 50px"
                    *ngIf = "rp_form.get('password').touched
            && rp_form.get('password').hasError('required')">REQUIRED FIELD*</span>
                    <span style="color: red; margin-top: 50px"
                    *ngIf = "rp_form.get('password').touched
            && rp_form.get('password').hasError('minlength')">AT LEAST 6 CHARACTERS</span>
                  </div>
                </div>
              </div>
              <style>
                .login-box .user-box input:focus {
                  box-shadow: 0 0 3px white;
                }

                .login-box .user-box select:focus {
                  box-shadow: 0 0 3px white;
                }
              </style>
              <div class="container" style="display: inline-flex;width:100%;">
                <div class="w-6/12">
                 <div class="text-center user-box" style="position: absolute; display: block; margin-left: -200px; margin-top: 70px;"
                 *ngIf = "secondStepColorOne !== '#ffffff'">
                   <input type="password" name="confirmPassword" required="" style="width: 320px;" formControlName="confirmPassword">
                   <label style="color: #ffffff">CONFIRM PASSWORD</label><br>
                   <span style="color: red; margin-top: 50px"
                    *ngIf = "rp_form.get('confirmPassword').touched
            && rp_form.get('confirmPassword').hasError('required')">REQUIRED FIELD*</span>
                    <span style="color: red; margin-top: 50px"
                    *ngIf = "rp_form.get('confirmPassword').touched
            && rp_form.get('confirmPassword').hasError('minlength')">AT LEAST 6 CHARACTERS</span>
                   <span style="color: red; margin-top: 50px" *ngIf = "rp_form.get('confirmPassword').touched
                && rp_form.get('confirmPassword').hasError('mustMatch')">
                      PASSWORDS DO NOT MATCH
                </span>
                  </div>
                </div>
                <div>
                  <div class="text-center user-box" align = "center" style="position: absolute; display: block; margin-left: 136px; margin-top: 70px;"
                  *ngIf = "secondStepColorOne !== '#ffffff'">
                   <button
                class=" text-white text-sm font-bold uppercase rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all"
                type="submit" title="NEXT" [disabled]="rp_form.invalid" [ngStyle]="btnNextParticularStyle()"
              >

                <img align="center" style="margin-left: auto; margin-right: auto; display: block" src="assets/img/Artboard_31.png" width="60" height="60"/>

              </button>
                  </div>
                </div>
              </div>



            </form>


            <form class="login-box mt-48" *ngIf = "thirdStepColorOne === '#FF8856' && role === 'Particular'">
              <br><br><br><br><br><br><br><br><br><br>
              <br><br><br><br><br><br><br><br><br><br>
              <br><br><br><br><br>
              <app-particular-cv-register></app-particular-cv-register>
              <style>
                .plusFile {
                  display: none;
                }
                .plusSign {
                  cursor: pointer;
                  padding: 28px 28px;
                  color: #FF6555;
                  background: #ffffff;
                  border-radius: 50%;
                }
              </style><br><br><br>
              <div align = "center">
                <button
              style="border-radius: 25px; border: 1px solid  #ffffff; letter-spacing: 5px"
              class=" text-white text-center text-sm font-bold uppercase px-6 py-3 rounded  hover:shadow-lg outline-none focus:outline-none ease-linear transition-all duration-150"
              type="submit" [disabled]="finishBtn" (click)="registerP_Form()"
            >
              <nobr>FINISH</nobr>
            </button>
              </div>

            </form>



            <div class="container mx-4 mt-3" align="center" style="display: inline-flex;width:100%;margin-left: auto;margin-right: auto;">
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
          <div class="w-6/12">
           <div class="text-center mt-12" style="position: absolute; display: block" *ngIf = "secondStepColorOne === '#ffffff'">
              <input
                type="radio"
                name="role"
                (click)="changeValueBuisness()"
                style="border: 3px solid  #535353;height: 25px;width:25px;background-color: transparent;border-radius: 100%;  padding-left:auto;padding-right: auto"
              /> <p class="mx-4 mt-3 text-white">BUSINESS</p>

            </div>
          </div>
          <div>
            <div  class="text-center mt-12" style="position: absolute; display: block; margin-left: 50px;" *ngIf = "secondStepColorOne === '#ffffff'">
              <input
                type="radio"
                name="role"
                class="text-black"
                (click)="changeValueParticular()"
                style="border: 3px solid  #535353;height: 25px;width:25px;background-color: transparent;border-radius: 100%;  padding-left:auto;padding-right: auto"
              /> <p class="mx-4 mt-3 text-white">PARTICULAR</p>
            </div>
          </div>


        </div>

            <div class="mt-32" align="center" style="margin-left: auto; margin-right: auto; display: block"
            *ngIf = "secondStepColorOne === '#ffffff'">
              <button
                class=" text-white text-sm font-bold uppercase rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all"
                type="submit" (click) = "confirmRole()" title="NEXT"
              >

                <img align="center" style="margin-left: auto; margin-right: auto; display: block" src="assets/img/Artboard_31.png" width="60" height="60"/>

              </button>

            </div>

        </div>

      </div>
    </div>
  </div>
</div>
