<nav
  style="oposition: relative"
  class="top-0 absolute z-50  w-full flex  justify-between px-2 py-3 navbar-expand-lg"
>
  <div
    class="container px-4 mx-auto flex flex-wrap items-center justify-between"
    align="center"
  >
    <div
      class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
    >
      <a
        [routerLink]="['/home']"
        class="text-white text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase"
      >
        <img src="assets/img/logo.png" style="height: 65px; width: 120px" alt=""/>
      </a>
      <button
        class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
        type="button"
        (click)="setNavbarOpen()"
      >
        <i class="text-white fas fa-bars"></i>
      </button>
    </div>
    <div
      class="lg:flex flex-grow items-center bg-white lg:bg-opacity-0 lg:shadow-none"
      [ngClass]="{ hidden: !navbarOpen, 'block rounded shadow-lg': navbarOpen }"
      id="example-navbar-warning"
    >
      <ul
        class="flex flex-col lg:flex-row list-none lg:ml-auto">


        <li
          class="flex items-center">
          <a
            class="text-grey lg:hover:text-blueGray-200 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            href="/home"
          >
            HOME
          </a>
        </li>
<!--        <li class="flex items-center">
          <a
            class="lg:text-white lg:hover:text-blueGray-200 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            href="/home#about"
          >
              About us
          </a>
        </li>

        <li class="flex items-center">
          <a
            class="lg:text-white lg:hover:text-blueGray-200 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            href="/home#services"
          >
              Services
          </a>
        </li>-->
                <li class="flex items-center">
          <a
            class="text-grey lg:hover:text-grey-200 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            href="/home#jobs"
          >
              JOBS
          </a>
        </li>

                <li class="flex items-center">
          <a

            class="text-grey lg:hover:text-grey-200 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            href="/home#partners"
          >
              CAREER TIPS
          </a>
        </li>
                <li class="flex items-center">
          <button

            class="border-2 rounded-full text-center text-black  font-bold uppercase text-xs px-4 py-2 rounded shadow focus:outline-none mr-1 ease-linear transition-all duration-150"
            [routerLink]="['/auth/login']"
          >
              MY WORLD
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
