<footer class="relative pt-8 pb-6 ">
  <div
    class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
    style="transform: translateZ(0)"
  >

  </div>

  <div class="container mx-auto px-4" >

    <div class="flex flex-wrap text-center lg:text-left">
      <div class="w-full lg:w-3/12 px-4">
            <img src="assets/img/logo_complet.png" alt="myworldjob" width='200'/>
        <h5 class="text-lg mt-0 mb-2 text-white">
          Find us on any of these platforms, we respond 1-2 business days.
        </h5>
        <div class="mt-6 lg:mb-0 mb-6">
          <button
            style="background-color: #eb6d51"
            class="bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button"
          >
            <i class="fab fa-facebook-f text-white" ></i>
          </button>
          <button
            style="background-color: #eb6d51;"
            class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button"
          >
            <i class="fab fa-google-plus-g text-white" ></i>
          </button>
        </div>

      </div>
       <div style="margin-left: 200px" class="px-4">
         <h4 class="text-black  font-semibold text-md-start">Categories</h4>

        <div class="mt-2 lg:mb-0 mb-6">
            <p class="text-grey text-sm py-4">iOs developpers</p>
            <p class="text-grey text-sm py-4">Front-end developpers</p>
            <p class="text-grey text-sm py-4">UX designers</p>
            <p class="text-grey text-sm py-4">UI designers</p>
            <p class="text-grey text-sm py-4">Writing translations</p>
            <p class="text-grey text-sm py-4">Program & tech</p>


        </div>

      </div>
<div class="px-4" style="margin-left: 50px">
         <h4 class="text-black  font-semibold text-md-start">Community</h4>

        <div class="mt-2 lg:mb-0 mb-6">
            <p class="text-grey text-sm py-4">Events</p>
            <p class="text-grey text-sm py-4">Blog</p>
            <p class="text-grey text-sm py-4">Forum</p>
            <p class="text-grey text-sm py-4">Podcast</p>
            <p class="text-grey text-sm py-4">Affiliates</p>
            <p class="text-grey text-sm py-4">Invite a friend</p>


        </div>

      </div>

<div class="px-4" style="margin-left: 50px">
         <h4 class="text-black  font-semibold text-md-start">About</h4>

        <div class="mt-2  mb-6">
            <p class="text-grey text-sm py-4">About US</p>
            <p class="text-grey text-sm py-4">Parternships</p>
            <p class="text-grey text-sm py-4">Finance Experts</p>
            <p class="text-grey text-sm py-4">Project Management</p>
            <p class="text-grey text-sm py-4">Product Manager</p>
            <p class="text-grey text-sm py-4">The Team</p>


        </div>

</div>

<div class="px-4" style="margin-left: 50px">
         <h4 class="text-black  font-semibold text-md-start">Contact</h4>

        <div class="mt-2  mb-6">
            <p class="text-grey text-sm py-4">Contact US</p>
            <p class="text-grey text-sm py-4">Press Center</p>
            <p class="text-grey text-sm py-4">Careers</p>
            <p class="text-grey text-sm py-4">Faq</p>


        </div>

</div>

    </div>

    <hr class="my-6 border-blueGray-300" />
    <br><br>
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-7/12 px-4 mx-auto text-center">
        <div class="text-sm text-blueGray-500  py-1">
            © {{ date }} All right reserved by www.myworldjob.com design By IPACT CONSULT

          .
        </div>
      </div>
    </div>
  </div>
</footer>
