<footer class="relative pt-8 pb-6 ">
  <div
    class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
    style="transform: translateZ(0)"
  >

  </div>

  <div class="container mx-auto px-4" >

    <div class="flex flex-wrap text-center lg:text-left">
      <div class="w-full lg:w-3/12 px-4">
            <img src="assets/img/logo_complet.png" alt="myworldjob" width='200'/>
        <h5 class="text-lg mt-0 mb-2 text-white">
          Find us on any of these platforms, we respond 1-2 business days.
        </h5>
        <div class="mt-6 lg:mb-0 mb-6">
          <button
            class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button"
          >
            <i class="fab fa-twitter" style="color:#FF8856"></i>
          </button>
          <button
            class="bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button"
          >
            <i class="fab fa-facebook-square text-grey" ></i>
          </button>
          <button
            class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button"
          >
            <i class="fab fa-google-plus text-grey" ></i>
          </button>
        </div>

      </div>
       <div class="w-full lg:w-3/12 px-4 mx-1">
         <h4 class="text-black  font-semibold text-md-start">Categories</h4>

        <div class="mt-2 lg:mb-0 mb-6">
            <p class="text-grey text-sm">iOs developpers</p>
            <p class="text-grey text-sm">Front-end developpers</p>
            <p class="text-grey text-sm">UX designers</p>
            <p class="text-grey text-sm">UI designers</p>
            <p class="text-grey text-sm">Writing translations</p>
            <p class="text-grey text-sm">Program & tech</p>


        </div>

      </div>
<div class="w-full lg:w-3/12 px-4">
         <h4 class="text-black  font-semibold text-md-start">Community</h4>

        <div class="mt-2 lg:mb-0 mb-6">
            <p class="text-grey text-sm">Events</p>
            <p class="text-grey text-sm">Blog</p>
            <p class="text-grey text-sm">Forum</p>
            <p class="text-grey text-sm">Podcast</p>
            <p class="text-grey text-sm">Affiliates</p>
            <p class="text-grey text-sm">Invite a friend</p>


        </div>

      </div>

<div class="w-full lg:w-3/12 px-4">
         <h4 class="text-black  font-semibold text-md-start">Community</h4>

        <div class="mt-2  mb-6">
            <p class="text-grey text-sm">Events</p>
            <p class="text-grey text-sm">Blog</p>
            <p class="text-grey text-sm">Forum</p>
            <p class="text-grey text-sm">Podcast</p>
            <p class="text-grey text-sm">Affiliates</p>
            <p class="text-grey text-sm">Invite a friend</p>


        </div>

      </div>

<!--
<div class="w-full lg:w-2/12 px-4">
         <h4 class="text-black font-semibold text-md-start">Community</h4>

        <div class="mt-2 lg:mb-0 mb-6">
            <p class="text-grey text-sm">Events</p>
            <p class="text-grey text-sm">Blog</p>
            <p class="text-grey text-sm">Forum</p>
            <p class="text-grey text-sm">Podcast</p>
            <p class="text-grey text-sm">Affiliates</p>
            <p class="text-grey text-sm">Invite a friend</p>


        </div>

      </div>
-->
    </div>

    <hr class="my-6 border-blueGray-300" />
    <br><br>
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-7/12 px-4 mx-auto text-center">
        <div class="text-sm text-blueGray-500  py-1">
            © {{ date }} All right reserved by www.myworldjob.com design By IPACT CONSULT

          .
        </div>
      </div>
    </div>
  </div>
</footer>
