<app-auth-navbar>
</app-auth-navbar>
<main>
  <div class="items-center flex flex-wrap min-h-screen">
   <div
      class="  w-full  bg-center"
      style="
        background-image: url('../../../assets/img/Home.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;"
    >
  <div
    class="static flex content-center min-h-screen">

    <div class="container relative mx-auto my-6 ">
      <div class=" flex flex-wrap my-6">
        <div class="px-2 m-lg-4 my-6 pt-6 mt-48">

          <div class="pr-12 my-6 pt-6" style="font-weight:normal">
            <h1 class=" text-lg  text-blueGray-200">
              <h1 class="text-grey font-seminormal" style="letter-spacing: 1px; line-height: 80px; font-size: 60px;">Find your job better <br> and faster with  </h1>

            </h1>
            <div style="width: 100%;">
          <h1
              style="font-size:45px; width:350px; margin-top: 1px;"
              class="border-2 rounded-full text-white text-center bg-orangem-500  text-3xl  py-2 rounded  ease-linear transition-all duration-150 font-seminormal"
            >My World Job</h1>

              </div>
             <form class="py-6">

               <div class="">
                     <input style="border-color: #ec7850;box-shadow:0 0 6px darkgrey;border-radius: 25px;width: 430px; font-family: 'Poppins', sans-serif; font-size: 14px"
                             type="email" class="inputmyworld" placeholder="Search by skill, company and job" />
                          <img style="bottom: 36px;margin-left: 392px;position: relative;overflow: visible" src="assets/img/recherche.png" width="40" height="40" alt="">

               </div>
             </form>
          </div>

        </div>

      </div>
 </div>
    </div>

  </div>
  </div>
  <section id="browsejobs"  class="relative py-10" style="background-color: white">

    <div class="container mx-auto px-4">
       <h1 class="text-5xl text-center font-seminormal" style="color: #132A54">Browse jobs by category</h1>
      <br>
      <p class="text-center text-grey">Choose from the list of the most popular categories</p>
      <br><br><br><br>
      <div class="items-center flex flex-wrap"
           style="  -webkit-column-width: 150px;
  -moz-column-width: 150px;
  column-width: 150px;
">
        <div class="w-full lg:w-4/12 ml-auto mr-auto px-4 shadow-lg rounded-lg jobhover " align="center"
             style="
             border-radius: 25px; width: 17%; border-spacing: 5px 1rem; height: 270px ;  -webkit-column-width: 150px;
             -moz-column-width: 150px;
              column-width: 150px;
              padding-left: 20px;
            ">
          <div style="flex-direction: column">
            <img src="assets/img/Finance.png" alt="">

             <h1 class="text-lg text-center font-bold text-perso" >Finance</h1>
            <p class="text-sm text-center"> 55 open position</p> <br>
          </div>
        </div>
        <div class="w-full lg:w-4/12 ml-auto mr-auto px-4 shadow-lg rounded-lg jobhover  " align="center"
             style="
             border-radius: 25px; width: 17%; border-spacing: 5px 1rem; height: 270px ;  -webkit-column-width: 150px;
             -moz-column-width: 150px;
              column-width: 150px;
            ">
       <img
            alt="..."
            class="column"

            src="assets/img/Creative.png"
          />

          <h1 class="text-lg text-center font-bold text-perso" >Creative</h1>
         <p class="text-sm text-center"> 55 open position</p> <br>
        </div>
         <div class="w-full lg:w-4/12 ml-auto mr-auto px-4 shadow-lg rounded-lg jobhover" align="center"
             style="
             border-radius: 25px; width: 17%; border-spacing: 5px 1rem; height: 270px ;  -webkit-column-width: 150px;
             -moz-column-width: 150px;
              column-width: 150px;
            ">
          <img
            alt="..."
            class="column "
            src="assets/img/Technology.png"
          />
          <h1 class="text-lg text-center font-bold text-perso" >Technology</h1>
         <p class="text-sm text-center"> 55 open position</p> <br>
        </div >
      </div>
      <br><br><br>
       <div class="items-center flex " style="-webkit-column-width: 150px;
  -moz-column-width: 150px;
  column-width: 150px;
">


         <div class="w-full lg:w-4/12 ml-auto mr-auto px-4 shadow-lg rounded-lg jobhover" align="center"
               style="
             border-radius: 25px; width: 17%; border-spacing: 5px 1rem; height: 270px ;  -webkit-column-width: 150px;
             -moz-column-width: 150px;
              column-width: 150px;
            ">
          <img
            alt="..."
            class="column"

            src="assets/img/Operation.png"
          />
          <h1 class="text-lg text-center font-bold text-perso" >Operation</h1>
         <p class="text-sm text-center"> 55 open position</p> <br>
        </div>
         <div class="w-full lg:w-4/12 ml-auto mr-auto px-4 shadow-lg rounded-lg jobhover" align="center"
              style="
             border-radius: 25px; width: 17%; border-spacing: 5px 1rem; height: 270px ;  -webkit-column-width: 150px;
             -moz-column-width: 150px;
              column-width: 150px;
            ">
          <img
            alt="..."
            class="column"
            src="assets/img/Education.png"
          />
          <h1 class="text-lg text-center font-bold text-perso" >Education</h1>
         <p class="text-sm text-center"> 55 open position</p> <br>
        </div>
         <div class=" lg:w-4/12  ml-auto mr-auto px-4 shadow-lg rounded-lg jobhover "
              align="center"
              style="
             border-radius: 25px; width: 17%; border-spacing: 5px 1rem; height: 270px ;  -webkit-column-width: 150px;
             -moz-column-width: 150px;
              column-width: 150px;">
          <img
            alt="..."
            class="column"

            src="assets/img/Consulting.png"
          />
          <h1 class="text-lg text-center font-bold text-perso" >Consulting</h1>
         <p class="text-sm text-center"> 55 open position</p> <br>
        </div>
 </div>
      </div>

  </section>

  <section class="pt-20 pb-48" style="background-color: white">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center text-center mb-24">

          <img src="assets/img/Join.png"/>
      </div>

      <div style="margin-top: -120px">
      <div>
          <h1 class="text-3xl font-semibold text-center myworld" style="color: #101a33">Join us and create your opportunity </h1>
        </div>
      <br>
      <div align="center">
                <p class="text-lg  text-center">Create your account and refer your friends</p>

        <br>
        <button
              style="font-size:40px;  width:200px"
              class="joinbtn border-2 lg:w-5/12 rounded-full text-white text-center bg-orangem-500 font-semibold text-3xl py-3 rounded ease-linear transition-all duration-150"
            >JOIN</button>
      </div>
        </div>
      </div>

  </section>
    <section  class="relative container mx-auto" style="background-color: white">

       <h1 class="text-3xl text-left font-semibold" style="color: #101a33">Testimonials</h1>
      <br>
      <br>

        <owl-carousel [options]="slideOptions" [carouselClasses]="['owl-theme', 'sliding']">
  <div class=" ml-auto mr-auto px-4" style="background-color: white ;border-radius: 25px; width:230px ; " *ngFor="let image of images">
    <div class="shadow-lg ml-auto mr-auto px-4" style="background-color: white ;border-radius: 25px; width:230px ; ">
      <img class="mx-4 " [src]="image" style="height: 170px; width: 170px; border-radius: 100%">
      <br>
       <div align="center"> <i class="fa fa-star " style="color: #FF8856"></i>
       <i class="fa fa-star " style="color: #FF8856"></i>
       <i class="fa fa-star " style="color: #FF8856"></i>
       <i class="fa fa-star " style="color: #FF8856"></i>
       <i class="fa fa-star " style="color: #FF8856"></i>
      </div> <br>
          <h1 class="text-center text-sm" style="color: #101a33">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            <br></h1><br>
    </div>
    <br>
  </div>
</owl-carousel>
  </section>

    <section  class="py-40" style="background-color: white">
          <div align="center"  class="align-content-lg-center justify-items-center h-auto w-12/12"
               style="background-color: #eb6d51; margin-right: 115px;margin-left: 115px ;background-position: center; position: relative ; border-radius: 12px">
                <div class="row">
                  <div align="center">
                    <h1 class="text-white text-4xl py-8 text-center">Subscribe Newsletter & get <br> Company News.</h1>
                   </div>



                  <form class="py-6" align="center">

               <div>
                      <input style="border-color: #9a3323;border-radius: 8px;width: 430px; font-family: 'Poppins', sans-serif; font-size: 14px"
                             type="email" class="newsInput " placeholder="Enter you Email" />
                          <button class="rounded"><i style="top: 3px;margin-left: -45px ;position: relative;overflow: visible" class="fa fa-arrow-right"></i></button>
                 </div>
             </form>

                </div>
          </div>
      </section>



</main>
<app-footer></app-footer>
