
<app-auth-navbar>


</app-auth-navbar>

<main>
   <div
      class="  w-full  bg-center"
      style="
        background-image: url('../../../assets/img/Home.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;"
    >


  <div
    class="static flex content-center items-center justify-center min-h-screen">

    <div class="container relative mx-auto my-4 "
    >
      <div class=" flex flex-wrap my-4">
        <div class="px-2 m-lg-4 my-4">
          <div class="pr-12 my-4" style="font-weight:normal">
            <h1 class=" text-lg  text-blueGray-200">
              <h1 class="text-grey text-4xl font-seminormal" style="letter-spacing: 1px; line-height: 80px; font-size: 70px">Find your job better <br> and faster with  </h1>

            </h1>
            <div style="width: 1100px;">
          <h1
              style="font-size:55px; width: 430px; margin-top: 1px;"
              class="border-2 rounded-full text-white text-center bg-orangem-500  text-3xl  py-2 rounded  ease-linear transition-all duration-150 font-seminormal"
            >My World Job</h1>

              </div>
          </div>

        </div>

      </div>
 </div>
    </div>




  </div>

  <section id="services" class="relative py-10" style="background-color: white">

    <div class="container mx-auto px-4">
       <h1 class="text-5xl text-center font-seminormal" style="color: #101a33">Browse jobs by category</h1>
      <br>
      <p class="text-center text-grey">Choose from the list of the most popular categories</p>
      <br><br><br><br>
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4 shadow-lg rounded-lg jobhover" style="border-radius: 25px; width: 30%">
          <img
            alt="..."
            class="px-12 text-center"
            style="height: 200px; margin-left: 30px"
            src="assets/img/Finance.png"
          />
          <h1 class="text-lg text-center font-bold" style="color: #101a33">Finance</h1>
         <p class="text-sm text-center"> 55 open position</p> <br>
        </div>
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4 shadow-lg rounded-lg jobhover" style="border-radius: 25px; width: 30%">
          <img
            alt="..."
            class="px-12 text-center"
            style="height: 200px; margin-left: 30px"
            src="assets/img/Creative.png"
          />
          <h1 class="text-lg text-center font-bold" style="color: #101a33">Creative</h1>
         <p class="text-sm text-center"> 55 open position</p> <br>
        </div>
         <div class="w-full md:w-4/12 ml-auto mr-auto px-4 shadow-lg rounded-lg jobhover" style="border-radius: 25px; width: 30%">
          <img
            alt="..."
            class="px-12 text-center"
            style="height: 200px; margin-left: 30px"
            src="assets/img/Technology.png"
          />
          <h1 class="text-lg text-center font-bold" style="color: #101a33">Technology</h1>
         <p class="text-sm text-center"> 55 open position</p> <br>
        </div>
         <div class="w-full md:w-4/12 ml-auto mr-auto px-4 shadow-lg rounded-lg jobhover" style="border-radius: 25px; width: 30%">
          <img
            alt="..."
            class="px-12 text-center"
            style="height: 200px; margin-left: 30px"
            src="assets/img/Operation.png"
          />
          <h1 class="text-lg text-center font-bold" style="color: #101a33">Operation</h1>
         <p class="text-sm text-center"> 55 open position</p> <br>
        </div>
         <div class="w-full md:w-4/12 ml-auto mr-auto px-4 shadow-lg rounded-lg jobhover" style="border-radius: 25px; width: 30%">
          <img
            alt="..."
            class="px-12 text-center"
            style="height: 200px; margin-left: 30px"
            src="assets/img/Education.png"
          />
          <h1 class="text-lg text-center font-bold" style="color: #101a33">Education</h1>
         <p class="text-sm text-center"> 55 open position</p> <br>
        </div>
         <div class="w-full md:w-4/12 ml-auto mr-auto px-4 shadow-lg rounded-lg jobhover" style="border-radius: 25px; width: 30%">
          <img
            alt="..."
            class="px-12 text-center"
            style="height: 200px; margin-left: 30px"
            src="assets/img/Consulting.png"
          />
          <h1 class="text-lg text-center font-bold" style="color: #101a33">Consulting</h1>
         <p class="text-sm text-center"> 55 open position</p> <br>
        </div>

      </div>
    </div>
  </section>

  <section class="pt-20 pb-48" style="background-color: white">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center text-center mb-24">

          <img src="assets/img/Join.png"/>
      </div>

      <div style="margin-top: -120px">
      <div>
          <h1 class="text-3xl font-semibold text-center myworld" style="color: #101a33">Join us and create your opportunity </h1>
        </div>
      <br>
      <div align="center">
                <p class="text-sm text-center">Create your account and refer your friends</p>

        <br>
        <h1
              style="font-size:55px;  width:150px"
              class=" border-2 lg:w-3/12 rounded-full text-white text-center bg-orangem-500 font-semibold text-3xl py-3 rounded ease-linear transition-all duration-150"
            >Join</h1>
      </div>
        </div>
      </div>

  </section>
    <section  class="relative py-10" style="background-color: white">

    <div class="container mx-auto px-4">
       <h1 class="text-3xl text-left font-semibold" style="color: #101a33">Testimonials</h1>
      <br>
      <br>
      <div class="items-center flex flex-wrap">
         <div class="w-full md:w-4/12 ml-auto mr-auto px-4 shadow-lg rounded-lg " align="center" style="border-radius: 25px; width: 30%">
          <img
            alt="..."
            class="px-12 text-center"
            style="height:100px; border-radius: 100%"
            src="assets/img/team-1-800x800.jpg"
          />
            <br> <div align="center"> <i class="fa fa-star " style="color: #FF8856"></i>
       <i class="fa fa-star " style="color: #FF8856"></i>
       <i class="fa fa-star " style="color: #FF8856"></i>
       <i class="fa fa-star " style="color: #FF8856"></i>
       <i class="fa fa-star " style="color: #FF8856"></i>

      </div>
           <br>
          <h1 class="text-center text-sm" style="color: #101a33">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            <br></h1>
           <br></div>
         <div class="w-full md:w-4/12 ml-auto mr-auto px-4 shadow-lg rounded-lg " align="center" style="border-radius: 25px; width: 30%">
          <img
            alt="..."
            class="px-12 text-center"
            style="height:100px; border-radius: 100%"
            src="assets/img/team-2-800x800.jpg"
          />
           <br> <div align="center"> <i class="fa fa-star " style="color: #FF8856"></i>
       <i class="fa fa-star " style="color: #FF8856"></i>
       <i class="fa fa-star " style="color: #FF8856"></i>
       <i class="fa fa-star " style="color: #FF8856"></i>

      </div>
          <br>
          <h1 class="text-center text-sm" style="color: #101a33">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            <br></h1>
           <br>
        </div>
         <div class="w-full md:w-4/12 ml-auto mr-auto px-4 shadow-lg rounded-lg" align="center" style="border-radius: 25px; width: 30%">
          <img
            alt="..."
            class="px-12 text-center"
            style="height:100px; border-radius: 100%"
            src="../../../assets/img/team-3-800x800.jpg"
          /><br>
      <div align="center"> <i class="fa fa-star " style="color: #FF8856"></i>
       <i class="fa fa-star " style="color: #FF8856"></i>
       <i class="fa fa-star " style="color: #FF8856"></i>
       <i class="fa fa-star " style="color: #FF8856"></i>
       <i class="fa fa-star " style="color: #FF8856"></i>
      </div> <br>
          <h1 class="text-center text-sm" style="color: #101a33">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            <br></h1>
           <br>
        </div>

      </div>
    </div>
  </section>


</main>
<app-footer></app-footer>
