<div *ngIf="job" class="shadow-lg w-full rounded px-4">
  <div class=" ml-3 ">
    <div class="ps-lg-6  w-lg-90">
      <div class="mb-4">
        <div class="main-title "
             style="color: #132A54;  ">
          <span class="title-left font-seminormal text-4xl my-3 ">{{job.category}}</span>
            <i class="fa fa-flag float-right text-center text-grey mx-4 py-2 text-2xl" style="margin-right: 20px"></i>
          <i class="fa fa-share float-right text-center text-grey py-2 text-2xl"></i>
          <button
            style=" width:100px;"
            class="mx-4 mr-4  border-2 font-seminormal rounded-full text-white text-center bg-orangem-500
             text-xl py-1 rounded ease-linear transition-all duration-150 float-right"
          >Apply
          </button>

        </div>

        <h2 class="w-90 my-4">
          <span>{{job.nom_entreprise}}</span>
          <i class="fa fa-building ml-3"></i> {{job.adresse}}
          <span class="line-left ml-3">{{job.nbr_candidatures}} candidats
                      </span>
        </h2>
        <span class="">{{job.salaire}} DT</span>
      </div>
      <div>
        <span><i class="fa fa-shopping-bag"></i> {{job.type_emploi}}</span><br> <br>

        <h3 class="font-bold my-2">Skills : </h3>
        <p class="message-text">{{job.skills_required}}</p> <br>
        <h1 class="font-semibold text-base my-2">Description :</h1>
        <p class="message-text" style="line-height: 2.25">{{job.description}}</p>
        <br>

      </div>

    </div>
  </div>

</div>

