<app-auth-navbar></app-auth-navbar>
<main>

     <div class="items-center flex flex-wrap min-h-screen">
    <div
      class="  w-full  bg-center"
      style="
        background-image: url('../../assets/img/JobsCon.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;">


      <div
        class="static flex content-center items-center  min-h-screen">

        <div class="container relative mx-auto my-6 ">
          <div class=" flex flex-wrap my-6">
            <div class="px-2 m-lg-4 my-6">
              <div class="pr-12 my-6" style="font-weight:normal">
                <h1 class=" text-lg  text-blueGray-200">
                  <h1 class="text-grey font-seminormal"
                      style="letter-spacing: 1px; line-height: 80px; font-size: 90px; text-decoration: underline #FF8856">Jobs</h1>

                </h1>

              </div>

            </div>

          </div>
        </div>
      </div>


    </div>
  </div>


 <section class="relative py-10" style="background-color: white">


    <div class="container mx-auto px-4">
      <div class="container my-6">
        <div class="panel messages-panel ">
          <div class="contacts-list shadow-lg w-full rounded ">
            <div class="tab-content">
              <div id="inbox" class="contacts-outter-wrapper tab-pane active">

                <div class="contacts-outter ">
                  <ul class="list-unstyled contacts">
                    <li data-toggle="tab" data-target="#inbox-message-1 "
                        class="jobhover"
                        *ngFor="let job of dataJobs" [class.selected]="job === selectedJob" (click)="onSelect(job)">
                      <img alt="" class="img-circle medium-image"
                           src={{job.logo_entreprise}}>

                      <div class="vcentered info-combo active ">
                        <h3 class="no-margin-bottom name font-bold "
                            style="color: #132A54">  {{job.titre_emploi}}  </h3>
                        <span class="text-sm  "> <i class="fa fa-map-marker-alt"></i>  {{job.adresse}}  </span>
                      </div>

                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-content">
            <div class="tab-pane message-body active" id="inbox-message-1">


              <div class="message-chat">
                <div class="chat-body">

                  <div class="message my-message">
                    <app-job-detail-client [job]="selectedJob"
                                           style="display: inline-flex; margin-left: 25px"></app-job-detail-client>

                    <br>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>

</main>

 <!--
          <div class="row col" align="center">
            <h1 class="text-5xl my-6 pt-8 py-5 text-black font-bold">Jobs</h1>

          </div>
          <div class="container ">

            <ul class="list-group">

              <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="card ">
                </div>
              </div>
              <div class="container mx-auto px-4">
                <br>

                <div class="items-center flex flex-wrap"
                     style="  -webkit-column-width: 150px;
        -moz-column-width: 150px;
        column-width: 150px;
      }">
                  <div class="w-full  ml-auto mr-auto px-4 shadow-lg rounded-lg" align="center"
                       style="border-radius: 25px; border-spacing: 5px 1rem; height: 310px ;  -webkit-column-width: 150px;
        -moz-column-width: 150px;
        column-width: 150px;">
                    <li *ngFor="let job of dataJobs" [class.selected]="job === selectedJob" (click)="onSelect(job)">
                      <h1 class="text-lg  font-bold  text-4xl  ">
                        {{job.titre_emploi}} <br>
                        <hr>
                      </h1>
                    </li>
                  </div>
                </div>
              </div>
              <app-job-detail-client [job]="selectedJob"
                                     style="display: inline-flex; text-align: center"></app-job-detail-client>

            </ul>
          </div>-->
