<div class="container  mt-32" style="background-color: transparent">

  <input class="lg:w-3/12 mx-4 inputhover" type="text" placeholder="Find Business" style="height: 60px; border-radius: 5px;font-size: 16px">
  <br><br><br>
  <div class="flex flex-wrap">
    <table align="left"  class="table mat-table-sticky md:w-6/12 ">
      <thead>
      <th> Logo  <hr></th>
      <th> Name <hr></th>
      <th>Email <hr></th>
      <th>Contact<hr></th>
      <th>Actions<hr></th>

      </thead>
      <br>
      <tr>
        <td>
          <div align="center">
            <img src="assets/img/entrepriseLogo.jpg" height="100" width="100" alt="">
          </div>
        </td>

        <td>
          <div align="center">
            Entreprise1
          </div>
        </td>
        <td>
          <div align="center">
            Entreprise11@entreprise.com
          </div>
        </td>
        <td>
          <div align="center">
                        +216 71 222 585

          </div>
        </td>

        <td>
          <div align="center">
            <i class="fa fa-trash text-red-500 text-lg" title="move to trash"></i>
            <i class="fa fa-briefcase text-blueGray-500 px-2 text-lg"  title="show jobs"></i>
          </div>
        </td>
      </tr>
      <br>
      <tr>
        <td>
          <div align="center">
            <img src="assets/img/entrepriseLogo.jpg" height="100" width="100" alt="">
          </div>
        </td>

        <td>
          <div align="center">
            Entreprise1
          </div>
        </td>
        <td>
          <div align="center">
            Entreprise11@entreprise.com
          </div>
        </td>

        <td>
          <div align="center">
                        +216 71 222 585

          </div>
        </td>
        <td>
          <div align="center">
            <i class="fa fa-trash text-red-500 text-lg" title="move to trash"></i>
            <i class="fa fa-briefcase text-blueGray-500 px-2 text-lg"  title="show jobs"></i>
          </div>
        </td>
      </tr>
      <br>
      <tr>
        <td>
          <div align="center">
            <img src="assets/img/entrepriseLogo.jpg" height="100" width="100" alt="">
          </div>
        </td>

        <td>
          <div align="center">
            Entreprise1
          </div>
        </td>
        <td>
          <div align="center">
            Entreprise11@entreprise.com
          </div>
        </td>
        <td>
          <div align="center">
            +216 71 222 585
          </div>
        </td>

        <td>
          <div align="center">
            <i class="fa fa-trash text-red-500 text-lg" title="move to trash"></i>
            <i class="fa fa-briefcase text-blueGray-500 px-2 text-lg"  title="show jobs"></i>
          </div>
        </td>
      </tr>
    </table>

    <div class="px-12 mx-4 ml-3">
          <app-recruiter-jobs></app-recruiter-jobs>

    </div>
  </div>
</div>
